@import "/src/imports";
mat-card {
  padding: 20px;
  max-width: 272px;
  h6 {
    margin-bottom: 20px;
    @include h6-medium;
    color: $gray-900;
  }
}
.checkbox-container {
  display: flex;
  flex-direction: column;
}
.checkbox-item {
  display: flex;
  > * {
    margin-right: 5px;
  }
}
