<div class="cart" [ngClass]="cartIsOpen ? 'right-0' : '-right-full'">
  <div class="header">
    <div class="title">Shopping Bag</div>
    <div class="close-icon" (click)="toggleCart()">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>
  <div class="cart-items" *ngIf="cart">
    <div *ngFor="let item of cart.products" class="cart-item">
      <div class="item-row">
        <a [routerLink]="['/game', item.id]">
          <!-- <img
            [src]="item.thumbnail"
            [alt]="item.title"
            class="item-row-image"
          /> -->
        </a>
        <div class="item-link-container">
          <div class="item-link">
            <a [routerLink]="['/game', item.id]">
              {{ item.title }}
            </a>
            <div (click)="removeItem(item.id)" class="remove-item">
              <mat-icon>close</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-summary">
    <div class="total">
      <span>Total: ${{ cart?.total }}</span>
      <div (click)="clearCart()" class="clear-cart">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
    <div class="checkout">
      <a routerLink="cart" class="cart-links view-cart btn"> View Cart </a>
      <a routerLink="cart/" class="cart-links check btn"> Checkout </a>
    </div>
  </div>
</div>
