@import "/src/imports";

.cart {
  &.right-0 {
    right: 0;
  }
  &.-right-full {
    right: -100%;
  }
  width: 100%;
  background-color: white;
  position: fixed;
  height: 100%;
  transition: all 300ms ease-in-out;
  z-index: 999;
  padding: 4px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

  @media (min-width: 768px) {
    width: 35vw;
    padding: 0 20px;
  }
  @media (min-width: 1280px) {
    max-width: 30vw;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    @include border(bottom, $gray-300);
    .title {
      text-transform: uppercase;
      @include h6-bold;
      padding: 20px 0;
    }
    .close-icon {
      cursor: pointer;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-2xl {
        font-size: 24px;
      }
    }
  }

  .cart-summary {
    @include flex-gap(12px, column);
    align-items: center;
    margin-top: 16px;

    .total {
      @include flex-center;
      justify-content: space-between;
      width: 100%;
      text-transform: uppercase;
      font-weight: 600;

      span {
        @include h6-bold;
      }
    }
    .clear-cart {
      cursor: pointer;
      padding: 10px;
      background-color: #f44336;
      color: white;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
    .checkout {
      @include flex-gap(12px, column);
      padding: 16px 0;
      width: 100%;
      @include h6-medium;
      color: white;
      .btn {
        @include link-as-text;
        cursor: pointer;
        background-color: #4a5568;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        color: var(--text-primary);
        width: 100%;
        font-weight: 500;
      }
      .btn:nth-of-type(2) {
        background-color: #374151;
      }
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  // border-bottom: 1px solid black;
  @include border(bottom, $gray-300);
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

// cart-item

.cart-item {
  display: flex;
  gap: 16px;
  padding: 2px;

  @include border(bottom, $gray-300);
  width: 100%;
  font-weight: 300;
  color: $gray-700;
  @include link-as-text;

  .item-row {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    gap: 16px;

    .item-row-image {
      max-width: 120px;
      border-radius: 0.375rem;
      cursor: pointer;
    }

    .item-link-container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .item-link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        a {
          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: 500;
          max-width: 240px;
          color: $gray-700;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .remove-item {
          font-size: 1.25rem;
          cursor: pointer;
          color: $gray-700;

          &:hover {
            color: #fc8181;
            transition: color 0.2s ease;
          }
        }
      }
    }
  }
}
