<div class="cart">
  <div class="header">
    <div class="title">Shopping Bag</div>
    <div class="close-icon" (click)="handleClose()">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>
  <div class="cart-items">
    <div
      *ngFor="let item of cart"
      class="cart-item flex gap-x-4 pu-2 lg-px-6 border-b border-gray-200 w-full font-light text-white"
    >
      <!-- * Cart Item Component -->
      <div class="two w-full min-h-[100px] flex items-center gap-x-4">
        <a [routerLink]="['/game', item.id]">
          <img
            [src]="item.thumbnail"
            [alt]="item.title"
            class="two-image max-w-[120px] rounded-md cursor-pointer"
          />
        </a>
        <div class="three w-full flex flex-col">
          <div class="four flex justify-between mb-2">
            <a
              [routerLink]="['/game', item.id]"
              class="text-sm uppercase font-medium max-w-[240px] text-primary hover:underline"
            >
              {{ item.title }}
            </a>
            <div
              (click)="removeFromCart(item.id)"
              class="five text-xl cursor-pointer"
            >
              <mat-icon>close</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-summary">
    <div class="total">
      <span>Total: ${{ total }}</span>
      <div (click)="clearCart()" class="clear-cart">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
    <div class="checkout">
      <a routerLink="cart" class="cart-links view-cart btn"> View Cart </a>
      <a routerLink="cart/" class="cart-links check btn"> Checkout </a>
    </div>
  </div>
</div>
