@import "/src/imports";

.cart {
  &.right-0 {
    right: 0;
  }
  &.-right-full {
    right: -100%;
  }
  width: 100%;
  background-color: var(--base);
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

  @media (min-width: 768px) {
    width: 35vw;
  }
  @media (min-width: 1280px) {
    max-width: 30vw;
    transform: translateX(-54%);
  }
  transition: all 300ms ease-in-out;
  padding: 4px;
  @media (min-width: 1024px) {
    padding: 0 35px;
    transform: translateX(-40%);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    // border-bottom: 1px solid $gray-300;
    @include border(bottom, $gray-300);
    .title {
      text-transform: uppercase;
      @include h6-bold;
      padding: 20px 0;
    }
    .close-icon {
      cursor: pointer;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-2xl {
        font-size: 24px;
      }
    }
  }

  .cart-summary {
    @include flex-gap(12px, column);
    align-items: center;
    // border-top: 1px solid $gray-500;
    @include border(bottom, $gray-300);
    margin-top: 16px;

    .total {
      @include flex-center;
      justify-content: space-between;
      width: 100%;
      text-transform: uppercase;
      font-weight: 600;

      span {
        @include h6-bold;
      }
    }
    .clear-cart {
      cursor: pointer;
      padding: 10px;
      background-color: #f44336;
      color: white;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
    .checkout {
      @include flex-gap(12px, column);
      padding: 16px;
      width: 100%;
      @include h6-medium;
      color: white;
      .btn {
        @include link-as-text;
        cursor: pointer;
        background-color: #4a5568;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        color: var(--text-primary);
        width: 100%;
        font-weight: 500;
      }
      .btn:nth-of-type(2) {
        background-color: #374151;
      }
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  // border-bottom: 1px solid black;
  @include border(bottom, $gray-300);
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  .cart-item {
    // Styles for cart item component
  }
}

// * ngFor

.cart-item {
  display: flex;
  gap: 16px;
  padding: 2px;
  // @include lg: {
  //   padding-left: 6px;
  //   padding-right: 6px;
  // }
  //   border-bottom: 1px solid #e2e8f0;
  @include border(bottom, $gray-300);
  width: 100%;
  font-weight: 300;
  color: $gray-700;
  @include link-as-text;

  .two {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    gap: 16px;

    .two-image {
      max-width: 120px;
      border-radius: 0.375rem;
      cursor: pointer;
    }

    .three {
      width: 100%;
      display: flex;
      flex-direction: column;

      .four {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .text-sm {
          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: 500;
          max-width: 240px;

          &.text-primary {
            color: var(--text-primary);

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .five {
          font-size: 1.25rem;
          cursor: pointer;

          &.text-gray-500 {
            color: #a0aec0;

            &:hover {
              color: #fc8181;
              transition: color 0.2s ease;
            }
          }
        }
      }
    }
  }
}
