<div
  class="cart"
  [ngClass]="(cartService.isOpen$ | async) ? 'right-0' : '-right-full'"
>
  <div class="header">
    <div class="title">Shopping Bag</div>
    <div class="close-icon" (click)="toggleCart()">
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>
  <div class="cart-items" *ngIf="cartService.cart$ | async as cart">
    <app-cart-item
      *ngFor="let item of cart.products"
      [item]="item"
    ></app-cart-item>
  </div>
  <div class="cart-summary">
    <div class="total">
      <span>Total: ${{ (cartService.cart$ | async)?.total }}</span>
      <div (click)="clearCart()" class="clear-cart">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
    <div class="checkout">
      <a routerLink="cart" class="cart-links view-cart btn"> View Cart </a>
      <a routerLink="cart/" class="cart-links check btn"> Checkout </a>
    </div>
  </div>
</div>
