@import '/src/imports';

mat-card {
  @include same-height-card();
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-bottom: 10px;
  margin: 0 auto;
}
.image-container {
  overflow: hidden;
  flex: 1;
  @include media("phone") {
  }
  img {
    @include same-height-images(100%, 1);

  }
}

.data-container {
  flex: 1;
  p {
    @include text3-regular;
    color: $gray-700;
  }
  h3 {
    @include text1-medium;
    color: $primary-700;
  }
  h5 {
    color: $gray-900;
    @include h5-bold;
  }

}
