@import "/src/typography";
@import "/src/variables";
@import "/src/mixins";

mat-card {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.image-container {
  img {
    @include same-height-images(100%, 1);
  }
}

.data-container {
  p {
    @include text3-regular;
    color: $gray-700;
  }
  h3 {
    @include text1-medium;
    color: $primary-700;
  }
  h5 {
    color: $gray-900;
    @include h5-bold;
  }
}
