@import "/src/imports";
.container {
  display: flex;
  padding: 20px;
  gap: 10px;
  border-bottom: solid 1px $gray-100;
}
.user-container {
  .image-wrapper {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: solid 1px $gray-100;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  > * {
    margin-bottom: 6px;
  }
  h5 {
    @include text1-medium;
    color: $gray-900;
  }

  p {
    @include text1-regular;
    color: $gray-700;
  }
}

.review-container {
  flex: 1;
  h5 {
    @include text1-medium;
    color: $gray-900;
  }

  p {
    @include text1-regular;
    margin-top: 18px;
    color: $gray-700;
  }
}
