@import "/src/typography";
@import "/src/variables";
@import "/src/mixins";

footer {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, max-content);
  padding: 20px 0 40px;
  justify-content: center;
  grid-gap: 20px;
}

.info-column,
app-list {
}
.info-column {
  .logo {
    margin: 0 -15px !important;
  }

  h1 {
    @include h6-medium;
    color: $gray-900;
  }

  p {
    color: $gray-700;
  }

  div {
    @include flex-gap(20px);
  }
}

.links-container {
  @include flex-center;
  gap: 5px;

  img {
    @include same-height-images;
  }
}
