@import "/src/typography";
@import "/src/variables";
@import "/src/mixins";

footer {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(6, max-content);
  padding: 20px 0 40px;
  justify-content: center;
  grid-gap: 20px;
}

.info-column {
  .logo {
    margin: 0 -15px !important;
  }

  h1 {
    @include h6-medium;
    color: $gray-900;
  }

  p {
    color: $gray-700;
  }

  div {
    @include flex-gap(20px);
  }
}

.links-container {
  @include flex-center;
  gap: 5px;

  img {
    @include same-height-images;
  }
}

@media (max-width: 700px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 20px 0 40px 15px;
    justify-content: center;
    grid-gap: 20px;
  }

  .info-column {
    grid-column: span 2; 
  }
}

@media (min-width: 701px) {
  footer {
    grid-template-columns: repeat(4, max-content);
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  footer {
    grid-template-columns: repeat(5, max-content);
  }
}

@media (min-width: 1101px) {
  footer {
    grid-template-columns: repeat(6, max-content);
  }
}