@import "/src/imports";

p {
  @include text1-regular;
  color: $gray-700;
  text-align: start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  gallery {
    width: 100%;
    background-color: white;
  }

  .mid {
    @include flex-gap(20px, column);
    height: 100%;
    width: 100%;
    justify-content: flex-start;

    .rating-row {
      display: flex;
      width: 100%;
      align-items: center;
      height: 16px;

      p {
        padding: 0;
        margin: 0;
        color: $gray-900;
        @include text1-regular;
      }
    }

    ul {
      color: $gray-700;
      padding-left: 1.5em;
    }

    h1 {
      color: $primary-700;
    }
  }
}

::ng-deep gallery-thumb {
  background-color: white !important;
}

.g-slider-content {
  display: none !important;
}

.button-container {
  transition: transform 0.3s ease;
  width: 100%;
  @include flex-center;
  gap: 10px;
  justify-content: space-between;

  button,
  .btn {
    @include flex-center;
    flex-direction: row;
    width: 50%;
    border-radius: 999px;
    border: 1px solid $gray-700;

    .btn-center {
      @include text1-regular;
      color: $gray-700;
      align-items: center !important;
      @include flex-center;
      gap: 2px;
    }

    img {
      filter: invert(1) opacity(0.7);
    }
  }

  .btn {
    padding: 8px;

    .btn-center {
      width: 100%;
      justify-content: space-between;

      button {
        @include h4-regular;
        border: none;
        background-color: white;
        width: 15%;
        height: min-content;
      }
      #mid-span {
        @include h5-regular;
      }
    }
  }
}

.row {
  @include flex-gap(20px, column);
  justify-content: flex-start;
  padding: 20px;

  .delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p:nth-of-type(2) {
      width: min-content;
      padding: 0 6px;
      border-radius: 999px;
      background-color: $success-100;
      color: $success-600;
    }
  }
  .delivery:nth-of-type(2) {
    padding-bottom: 20px;
    p:nth-of-type(2) {
      background-color: $danger-100;
      color: $danger-600;
    }
  }

  .price {
    width: 100%;

    h1,
    p {
      color: $gray-900;
      text-align: start;
      width: 100%;
      margin: 0;
    }
    p {
      text-decoration: line-through;
      @include text2-regular;
      align-items: center;
    }
  }

  .add-btn {
    @include flex-center;
    gap: 10px;
    width: 100%;
    background-color: $primary-600;
    border-radius: 999px;
    color: white;
    @include text1-regular;
    padding: 20px;

    img {
      height: 13.333px;
    }
  }
}

.button-container button,
.row > .add-btn {
  height: 36px;
}

.red-text {
  color: $danger-600 !important;
}
