@import "/src/imports";

.header {
  width: 100%;
  padding:  0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media("tablet") {
    justify-content: space-between;
  }
  a{
    @include media("tablet") {
      display: none;
    }
  }
}

.side-nav {
  display: none;

  @include media("tablet") {
    display: block;
  }
}

.search {
  border: 1px solid #319dff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  padding: 0 0 0 10px;
  align-items: center;
  flex: 1;


  mat-select{
    width: max-content;
  }

  @include media("tablet") {
    flex: 1;
  }

}
.icon-buttons{
  @include media("tablet") {
    display: none;
  }
}
.search>input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background: none;
}

.search .select {
  width: 30%;
  padding: 0 10px;
  position: relative;
  @include media("phone") {
    display: none;
  }
}

.select::before {
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  background-color: #eef0f4;
  z-index: 1;
}

.search .search-button {
  color: white;
  background-color: #319dff;
  justify-self: flex-end;
}

h1 {
  @include h1-bold;
}
::ng-deep .cdk-overlay-pane {
  @include media("phone") {

  width: 100% !important;
  height: 70% !important;
  left: 0 !important;
  padding: 5px;}
}
