<mat-toolbar class="header">
  <button type="button" class="side-nav" mat-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <a [routerLink]="['']" -->
  <a [routerLink]="[{ outlets: { categories: ['landing'] } }]"
    ><img src="../../../assets/logo.svg" alt="company logo"
  /></a>
  <div class="search">
    <input
      (input)="searchItem()"
      [(ngModel)]="query"
      matInput
      [matAutocomplete]="auto"
      placeholder="Search for products..."
    />
    <mat-autocomplete #auto="matAutocomplete" id="autocomplete">
      <mat-option>
        <app-bundle-card
          (click)="redirectTo(item.id)"
          *ngFor="let item of results"
          [Title]="item.title"
          [Category]="item.category"
          [Image]="item.thumbnail"
          [Price]="item.price"
        />
      </mat-option>
    </mat-autocomplete>
    <mat-select
      class="select"
      [(value)]="categorySelected"
      placeholder="All Categories"
    >
      <mat-option [value]="category" *ngFor="let category of categories">{{
        category
      }}</mat-option>
    </mat-select>
    <button (click)="searchItem()" class="search-button" mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="icon-buttons" *ngIf="cartService.cart$ | async as cart">
    <button
      mat-icon-button
      matTooltip="My Account"
      [routerLink]="[{ outlets: { categories: ['profile'] } }]"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      *ngIf="authService.adminSubject | async"
      [routerLink]="[{ outlets: { categories: ['admin'] } }]"
      mat-icon-button
      matTooltip="Compare"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <!-- todo add wishlist page  -->
    <button mat-icon-button matTooltip="Wishlist">
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="My Cart"
      (click)="cartService.toggleCart()"
    >
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <span>${{ cart.total }}</span>
  </div>
</mat-toolbar>
<app-cart></app-cart>
