@import "/src/imports";

.container {
  padding: 20px 40px;
  max-width: 420px;
  height: max-content;

  > * {
    margin-bottom: 40px;
  }
}
.top-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  h5 {
    flex: 1;
    @include text1-regular;
    color: $primary-700;
  }
}
span {
  display: flex;
  @include text1-regular;
}

.review {
  width: 100%;
  height: 200px;
  @include h6-medium;
  textarea {
    border-radius: 6px;
    border: 1px solid $gray-100;
    min-height: 200px;
    width: 100%;
    padding: 13px 12px;
    @include text1-medium;
  }
}

.submitbutton {
  width: 100%;
  background-color: $primary-700;
  border-radius: 25px;
  color: white;
  margin-bottom: 0 !important;
}
