<form (submit)="addAdmin()">
  <div>

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput placeholder="username" name="newAdminUsername" [(ngModel)]="newAdminUsername">
    </mat-form-field>
    <button mat-button type="submit">Add Admin</button>
  </div>

  <div>

    <mat-list  role="list">
      <mat-label>Actual Admins</mat-label>
      <mat-list-item role="listitem" *ngFor="let admin of admins">{{admin}}</mat-list-item>
    </mat-list>
  </div>
</form>
