@import "/src/imports";

.categories-nav {
  @include text1-medium;
  background-color: #319dff;
  color: white;

  display: flex;
  justify-content: center;
  padding: 0;
}
.container-categories {
  display: flex;
  justify-content: center;
  width: 80%;
  transition: 0.5s;
  a {
    text-decoration: none;
    padding: 10px 0;
    color: inherit;
    cursor: pointer;
    text-align: center;
    @include right-border();
    &:hover {
      text-decoration: underline;
      color: #ffff;
    }
  }
  button {
    color: white;
    width: 100%;
  }
  mat-menu {
    justify-self: center;
  }
}

.category {
  flex: 1;
}
