
@import '/src/imports';

.container{
  width: 100%;
  height: 100%;
  display: flex;

  @include media('phone'){
  display: flex;

    flex-direction: column;
  }
  .menu{
    width: 20%;
    padding: 20px;

  @include media('phone'){
    width: 100%;


  }
  }
  h4{
    @include h4-bold;
  }
  .outlet{
    width: 100%;
    padding:0 10%;
  }
}
