@import 'src/_imports.scss';
div{
  display: flex;
  flex-direction: column;
  .select{
    max-width: 200px;
  }
}

table {

  flex:1;

  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $gray-600;
  th, td {
  border: 1px solid $gray-600;
    padding: 5px;
  }
}
