.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
