.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
}
.products {
  display: flex;
  padding-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
