<div class="grid">
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
  <app-product-card-v1></app-product-card-v1>
</div>

<router-outlet></router-outlet>
