<div class="root">
  <h2>Prices</h2>

  <div class="checkbox-container">
    <ng-container *ngFor="let state of checkboxStates; let i = index">
      <div class="checkbox-item" (click)="toggleCheckbox($event, i)">
        <input
          id="checkbox"
          type="checkbox"
          [checked]="state"
          [disabled]="priceInterval"
        />
        <div class="numeric-range">
          <p>
            {{
              i === 0 ? "<50" : i === 5 ? ">500" : i * 100 + "-" + (i + 1) * 100
            }}
          </p>
          <p class="count">(50)</p>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="checkbox-item">
    <div class="numeric-range flex" (click)="togglePriceInterval()">
      <input id="checkbox" type="checkbox" [checked]="priceInterval" />
      <p class="count">Price interval</p>
    </div>
  </div>
  <div class="x">
    <mat-slider
      [disableRipple]="true"
      [min]="0"
      [max]="max"
      (change)="logMinMax()"
      discrete="true"
      [disabled]="!priceInterval"
    >
      <input
        #minInput
        [value]="min"
        matSliderStartThumb
        class="disable-ripple"
        disableRipple="true"
      />
      <input #maxInput [value]="max" matSliderEndThumb class="disable-ripple" />
    </mat-slider>
  </div>
</div>
