.drawer-container {
  height: 100%;
  position: absolute;
  text-align: center;
}

.drawer {
  overflow: hidden !important;

  width: 100vw;


  .category-container {
    display: flex;
    flex-direction: column;

  }
.icon-buttons{
  display: flex;
  align-items: center;
}
  a {
    font-weight: 600;
    font-size: 20px;
    padding: 30px 0;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    :last-of-type {
      border-bottom: 1px solid #f0f2f6;
    }
  }
  a::before {
    content: "";
    position: absolute;

    top: 0;
    left: -100px;
    width: 100%;
    background-color: #f0f2f6;
    height: 1px;
  }
}

.drawer-title {

  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  justify-content: space-between;
  button{
    display: flex;
    justify-self: flex-end;
  }

  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
  }
}
