@import "/src/typography";
@import "/src/variables";
@import "/src/mixins";

mat-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

mat-card:hover .button-container {
  transform: translateY(0%);
}

h5 {
  @include h5-bold;
  color: $gray-900;
}

mat-card-subtitle {
  @include text3-regular;
  color: $gray-700;
}

mat-card-title {
  @include text1-medium;
  color: $primary-700;
}

mat-card-footer {
  display: flex;
  position: relative;
}

mat-card-content {
  img {
    @include same-height-images(100%, 1);
    margin: 20px 0;
  }
  padding: 20px;
}

.button-container {
  transform: translateY(120%);
  transition: transform 0.3s ease;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;

  button {
    img {
      background: none !important;
      margin: 0 !important;
    }
  }

  :nth-child(1) {
    background-color: $primary-600;
  }

  :nth-child(2) {
    background-color: $danger-600;
    margin: 10px 0;
  }

  :nth-child(3) {
    background-color: $info-600;
  }
}
