@import "/src/imports";
.container {
  @include same-height-card(250px, 1.5/2);
}
mat-card {
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

mat-card:hover .button-container {
  transform: translateY(0%);
}

h5 {
  @include h5-bold;
  color: $gray-900;
}

mat-card-subtitle {
  @include text3-regular;
  color: $gray-700;
}

mat-card-title {
  @include text1-medium;
  color: $primary-700;
}

mat-card-footer {
  display: flex;
}

mat-card-content {
  @include same-height-images(100%, 1);
  padding: 0;
  img {
    width: 210px;
    height: 210px;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 20px 0;
    padding: 0;
    aspect-ratio: 1/1;
    position: relative;
  }
  .cover-image-skeleton {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 210px;
    height: 210px;
    background-size: 200% 100%;
    border-radius: 8px;
  }
}

.button-container {
  width: fit-content;
  transform: translateY(200%);
  transition: transform 0.3s ease;
  position: absolute;
  right: 10%;
  bottom: 10px;
  display: flex;
  flex-direction: column-reverse;

  button {
    width: 2rem;
    height: 2rem;
    padding: 5px;
    margin: 5px 0;

    img {
      background: none !important;
      @include same-height-images(100%, 1);
      margin: 0 !important;
    }
  }

  :nth-child(1) {
    background-color: $primary-600;
  }

  :nth-child(2) {
    background-color: $danger-600;
    margin: 10px 0;
  }

  :nth-child(3) {
    background-color: $info-600;
  }
}
