<mat-card class="container" (click)="redirectTo(Product.id)">
  <mat-card-header>
    <mat-card-subtitle>{{ Product.category }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921"
      class="cover-image-skeleton"
    />
    <img src="{{ Product.images[0] }}" />
    <mat-card-title>{{ Product.title }}</mat-card-title>
    <h5>$ {{ Product.price }}</h5>
  </mat-card-content>
  <mat-card-footer>
    <div class="button-container">
      <button
        matTooltipPosition="left"
        mat-icon-button
        matTooltip="Add to cart"
        (click)="addToCart($event)"
      >
        <img
          src="../../../assets/bag-s.svg"
          matTooltip="Add to cart"
          alt="add to cart"
        />
      </button>
      <button matTooltipPosition="left" mat-icon-button matTooltip="Whishlist">
        <img src="../../../assets/favorite-s.svg" alt="add to cart" />
      </button>
      <button matTooltipPosition="left" mat-icon-button matTooltip="Compare">
        <img src="../../../assets/compare-s.svg" alt="add to cart" />
      </button>
    </div>
  </mat-card-footer>
</mat-card>
