<mat-card>
  <div class="image-container">
    <img src="{{ Product.images[0] }}" alt="" />
  </div>
  <div class="data-container">
    <p>{{ Product.title }}</p>
    <star-rating [starType]="'svg'" [rating]="Product.rating"></star-rating>

    <h4>
      {{
        Product.discountPercentage > 0 ? "%" + Product.discountPercentage : null
      }}
    </h4>
    <h5>${{ Product.price }}</h5>
    <div class="button-container" (click)="addToCart()">
      <button
        matTooltipPosition="left"
        mat-icon-button
        matTooltip="Add to cart"
      >
        <img
          src="../../../assets/bag-s.svg"
          matTooltip="Add to cart"
          alt="add to cart"
        />
      </button>
      <button matTooltipPosition="left" mat-icon-button matTooltip="Whishlist">
        <img src="../../../assets/favorite-s.svg" alt="add to cart" />
      </button>
      <button matTooltipPosition="left" mat-icon-button matTooltip="Compare">
        <img src="../../../assets/compare-s.svg" alt="add to cart" />
      </button>
    </div>
  </div>
</mat-card>
