@import "/src/mixins";
@import "/src/variables";
@import "/src/typography";

mat-card {
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-bottom: 10px;
  @include same-height-card;
  p {
    @include text1-medium();
    color: $primary-700;
  }
  h4 {
    @include h4-bold();
    color: $danger-600;
  }
  h5 {
    @include h5-medium();
    color: $gray-900;
  }
}
.image-container {
  flex: 0.5;
  img {
    @include same-height-images(100%, 1);
    margin: 20px 0;
  }
}
.data-container {
  flex: 1;
  padding-right: 40px;
  justify-items: start;
}

.button-container {
  transform: translateY(120%);
  transition: transform 0.3s ease;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column-reverse;

  button {
    img {
      background: none !important;
      margin: 0 !important;
    }
  }

  :nth-child(1) {
    background-color: $primary-600;
  }

  :nth-child(2) {
    background-color: $danger-600;
    margin: 3px 0;
  }

  :nth-child(3) {
    background-color: $info-600;
  }
}
mat-card:hover .button-container {
  transform: translateY(0%);
}
