@import "src/imports";

mat-card {
  cursor: pointer;
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
  @include same-height-card(100%, 3/1.5);
  height: 145px;
  overflow: hidden;

  p {
    @include text1-medium();
    color: $primary-700;
  }
  h4 {
    @include h4-bold();
    color: $danger-600;
    margin: 0;
  }
  h5 {
    @include h5-medium();
    color: $gray-900;
  }
}
.image-container {
  flex: 0.8;
  img {
    @include same-height-images(100%, 1);
    // margin: 20px 0;
  }
}
.data-container {
  flex: 1;
  // padding-right: 40px;
  justify-items: start;
}

.button-container {
  z-index: 10;
  transform: translateY(180%);
  transition: transform 0.3s ease;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  scale: 0.6;

  button {
    // width: 30px;
    // height: 29px;
    gap: 0 !important;
    img {
      background: none !important;
      margin: 0 !important;
      // width: 10px;
      // height: 11px;
      // object-fit: contain;
      // scale: 1.8;
      // position: absolute;
      // top: -2px;
      // right: 0;
      // transform: translate(-52%, 50%);
      // z-index: -1;
    }
  }

  :nth-child(1) {
    background-color: $primary-600;
  }

  :nth-child(2) {
    background-color: $danger-600;
    margin: 3px 0;
  }

  :nth-child(3) {
    background-color: $info-600;
  }
}
mat-card:hover .button-container {
  transform: translateY(30%);
}
