@import "/src/imports";

.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px 0;
  box-shadow: none;

  mat-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: none;
  }
}

.row {
  @include flex-center;
  overflow: hidden;
  gap: 20px;

  .mid {
    @include flex-gap(20px, column);
    height: 100%;
    width: 100%;
    justify-content: flex-start;

    h1 {
      color: $primary-700;
      margin: 0;
    }
  }
}

.img-container {
  width: 100%;
  height: auto;
  @include flex-center;
  overflow: hidden;
  // padding: 5px;

  img {
    @include same-height-images(100%, 1);
    height: inherit;
  }
}

.rating-row {
  display: flex;
  width: 100%;
  align-items: center;
  height: 16px;

  p {
    padding: 0;
    color: $gray-900;
  }
}

ul {
  color: $gray-700;
  padding-left: 1.5em;
}

.button-container {
  transition: transform 0.3s ease;
  width: 100%;
  @include flex-center;
  gap: 10px;
  justify-content: space-between;

  button {
    @include flex-center;
    flex-direction: row;
    width: 50%;
    border-radius: 999px;
    border: 1px solid $gray-700;

    .btn-center {
      @include text1-regular;
      color: $gray-700;
      align-items: center !important;
      @include flex-center;
      gap: 2px;
    }

    img {
      filter: invert(1) opacity(0.7);
    }
  }
}

.row:nth-of-type(3) {
  flex-direction: column;
  justify-content: start;

  .price {
    width: 100%;

    h1,
    p {
      color: $gray-900;
      text-align: start;
      width: 100%;
      margin: 0;
    }
    p {
      text-decoration: line-through;
      @include text2-regular;
      align-items: center;
    }
  }

  .add-btn {
    @include flex-center;
    gap: 10px;
    width: 100%;
    background-color: $primary-600;
    border-radius: 999px;
    color: white;
    @include text1-regular;

    img {
      height: 13.333px;
    }
  }
}

.button-container button,
.row > .add-btn {
  height: 36px;
}

.red-text {
  color: $danger-600 !important;
}

.danger {
  background-color: $danger-700 !important;
}
