<mat-card class="root">
  <div class="row">
    <div class="img-container">
      <img [src]="product.images[0]" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="mid">
      <p class="text2-m">{{ product.category }}</p>
      <h1>{{ product.brand + " " + product.title }}</h1>
      <div class="rating-row">
        <star-rating [starType]="'svg'" [rating]="product.rating"></star-rating>
        <p class="text1-regular">{{ product.rating }}</p>
      </div>
      <ul>
        <li>{{ product.description }}</li>
      </ul>
      <p class="h6-regular" *ngIf="inProfilePage">
        Count: {{ productQuantity }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="button-container">
      <button
        disableRipple
        matTooltipPosition="left"
        mat-button
        matTooltip="Compare"
      >
        <div class="btn-center">
          <span id="x">Compare</span>
          <img src="../../../assets/compare-s.svg" alt="compoare" />
        </div>
      </button>
      <button mat-button disableRipple matTooltip="Whishlist">
        <div class="btn-center">
          <span id="x">Save</span>
          <img src="../../../assets/favorite-s.svg" alt="save" />
        </div>
      </button>
    </div>
    <div class="price">
      <h1 [ngClass]="{ 'red-text': product.discountPercentage }">
        {{ product.price | currency : "USD" : "symbol" : "1.2-2" }}
      </h1>
      <p *ngIf="product.discountPercentage">
        {{
          (product.price / (1 - product.discountPercentage / 100)).toFixed(2)
        }}
      </p>
    </div>
    <button
      disableRipple
      class="add-btn"
      matTooltipPosition="left"
      mat-button
      matTooltip="Add to cart"
      (click)="inProfilePage ? removeItem() : addToCart(product)"
      [ngClass]="{ danger: inProfilePage }"
    >
      <span>{{ inProfilePage ? "Remove from Cart" : "Add to Cart" }}</span>
      <img
        src="../../../assets/bag-s.svg"
        matTooltip="Add to cart"
        alt="add to cart"
      />
    </button>
  </div>
</mat-card>
