@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-gap($gap: 10px, $direction: row) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
}

@mixin right-border(
  $color: rgba(0, 0, 0, 0.205),
  $width: 1px,
  $height: 100%,
  $position: 0
) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: $width;
    top: 50%;
    right: $position;
    transform: translateY(-50%);
    height: $height;
    border-right: $width solid $color;
  }
}

@mixin same-height-images($width: 30px, $opacity: 0.5) {
  width: $width;
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: opacity($opacity);
}
@mixin same-height-card($width: 420px, $aspect-ratio: 3/1) {
  max-width: $width;
  aspect-ratio: $aspect-ratio;
}

@mixin media($breakpoint) {
  @if $breakpoint == "phone" {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == "tablet" {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: 901px) {
      @content;
    }
  }
}
