@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin right-border($color: rgba(0, 0, 0, 0.205), $width: 1px, $height: 1.3em, $position: 0) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: $width;
      top: 50%;
      right: $position;
      transform: translateY(-50%);
      height: $height;
      border-right: $width solid $color;
    }
  }

  @mixin same-height-images {
    width: 30px;
    aspect-ratio: 3/2;
    object-fit: contain;
    filter: opacity(0.5);
  }
  