@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-gap($gap: 10px, $direction: row) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
}

@mixin right-border(
  $color: rgba(0, 0, 0, 0.205),
  $width: 1px,
  $height: 100%,
  $position: 0
) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: $width;
    top: 50%;
    right: $position;
    transform: translateY(-50%);
    height: $height;
    border-right: $width solid $color;
  }
}

@mixin same-height-images($width: 30px, $opacity: 0.5) {
  width: $width;
  aspect-ratio: 3/2;
  object-fit: contain;
  filter: opacity($opacity);
}
// ! o sa-l sterg ca e mai concis prin css
@mixin border($position: bottom, $color: black, $height: 1px) {
  @if $position == top {
    border-top: $height solid $color;
  } @else if $position == right {
    border-right: $height solid $color;
  } @else if $position == bottom {
    border-bottom: $height solid $color;
  } @else if $position == left {
    border-left: $height solid $color;
  } @else {
    @error "Invalid border position: #{$position}. Choose from top, right, bottom, or left.";
  }
}