@mixin font-size($size) {
  font-size: $size;
}

@mixin h1-bold() {
  font-size: 36px !important;
  font-weight: 700 !important;
}

@mixin h2-bold() {
  font-size: 30px !important;
  font-weight: 700 !important;
}
@mixin h3-bold() {
  font-size: 24px !important;
  font-weight: 700 !important;
}
@mixin h3-bold() {
  font-size: 24px !important;
  font-weight: 700 !important;
}
@mixin h4-bold() {
  font-size: 20px !important;
  font-weight: 700 !important;
}
@mixin h5-bold() {
  font-size: 18px !important;
  font-weight: 700 !important;
}
@mixin h6-bold() {
  font-size: 16px !important;
  font-weight: 700 !important;
}
@mixin text1-bold() {
  font-size: 14px !important;
  font-weight: 700 !important;
}
@mixin text2-bold() {
  font-size: 10px !important;
  font-weight: 700 !important;
}
@mixin text3-bold() {
  font-size: 12px !important;
  font-weight: 700 !important;
}
@mixin text4-bold() {
  font-size: 9px !important;
  font-weight: 700 !important;
}

// medium

@mixin h1-medium() {
  font-size: 36px !important;
  font-weight: 500 !important;
}

@mixin h2-medium() {
  font-size: 30px !important;
  font-weight: 500 !important;
}

@mixin h3-medium() {
  font-size: 24px !important;
  font-weight: 500 !important;
}

@mixin h4-medium() {
  font-size: 20px !important;
  font-weight: 500 !important;
}

@mixin h5-medium() {
  font-size: 18px !important;
  font-weight: 500 !important;
}

@mixin h6-medium() {
  font-size: 16px !important;
  font-weight: 500 !important;
}

@mixin text1-medium() {
  font-size: 14px !important;
  font-weight: 500 !important;
}

@mixin text2-medium() {
  font-size: 10px !important;
  font-weight: 500 !important;
}

@mixin text3-medium() {
  font-size: 12px !important;
  font-weight: 500 !important;
}

@mixin text4-medium() {
  font-size: 9px !important;
  font-weight: 500 !important;
}

// regular

@mixin h1-regular() {
  font-size: 36px !important;
  font-weight: 400 !important;
}

@mixin h2-regular() {
  font-size: 30px !important;
  font-weight: 400 !important;
}

@mixin h3-regular() {
  font-size: 24px !important;
  font-weight: 400 !important;
}

@mixin h4-regular() {
  font-size: 20px !important;
  font-weight: 400 !important;
}

@mixin h5-regular() {
  font-size: 18px !important;
  font-weight: 400 !important;
}

@mixin h6-regular() {
  font-size: 16px !important;
  font-weight: 400 !important;
}

@mixin text1-regular() {
  font-size: 14px !important;
  font-weight: 400 !important;
}

@mixin text2-regular() {
  font-size: 10px !important;
  font-weight: 400 !important;
}

@mixin text3-regular() {
  font-size: 12px !important;
  font-weight: 400 !important;
}

@mixin text4-regular() {
  font-size: 9px !important;
  font-weight: 400 !important;
}

// light

@mixin h1-light() {
  font-size: 36px !important;
  font-weight: 300 !important;
}

@mixin h2-light() {
  font-size: 30px !important;
  font-weight: 300 !important;
}

@mixin h3-light() {
  font-size: 24px !important;
  font-weight: 300 !important;
}

@mixin h4-light() {
  font-size: 20px !important;
  font-weight: 300 !important;
}

@mixin h5-light() {
  font-size: 18px !important;
  font-weight: 300 !important;
}

@mixin h6-light() {
  font-size: 16px !important;
  font-weight: 300 !important;
}

@mixin text1-light() {
  font-size: 14px !important;
  font-weight: 300 !important;
}

@mixin text2-light() {
  font-size: 10px !important;
  font-weight: 300 !important;
}

@mixin text3-light() {
  font-size: 12px !important;
  font-weight: 300 !important;
}

@mixin text4-light() {
  font-size: 9px !important;
  font-weight: 300 !important;
}
