@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import "../node_modules/css-star-rating/scss/star-rating";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal !important;
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link-as-text {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}

// bold

.h1-bold {
  font-size: 36px !important;
  font-weight: 700 !important;
}

.h2-bold {
  font-size: 30px !important;
  font-weight: 700 !important;
}

.h3-bold {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.h4-bold {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.h5-bold {
  font-size: 18px !important;
  font-weight: 700 !important;
}

.h6-bold {
  font-size: 16px !important;
  font-weight: 700 !important;
}

.text1-bold {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.text2-bold {
  font-size: 12px !important;
  font-weight: 700 !important;
}

.text3-bold {
  font-size: 10px !important;
  font-weight: 700 !important;
}

.text4-bold {
  font-size: 9px !important;
  font-weight: 700 !important;
}

// medium

.h1-medium {
  font-size: 36px !important;
  font-weight: 500 !important;
}

.h2-medium {
  font-size: 30px !important;
  font-weight: 500 !important;
}

.h3-medium {
  font-size: 24px !important;
  font-weight: 500 !important;
}

.h4-medium {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.h5-medium {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.h6-medium {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.text1-medium {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.text2-medium {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.text3-medium {
  font-size: 10px !important;
  font-weight: 500 !important;
}

.text4-medium {
  font-size: 9px !important;
  font-weight: 500 !important;
}

// regular

.h1-regular {
  font-size: 36px !important;
  font-weight: 400 !important;
}

.h2-regular {
  font-size: 30px !important;
  font-weight: 400 !important;
}

.h3-regular {
  font-size: 24px !important;
  font-weight: 400 !important;
}

.h4-regular {
  font-size: 20px !important;
  font-weight: 400 !important;
}

.h5-regular {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.h6-regular {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.text1-regular {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.text2-regular {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.text3-regular {
  font-size: 10px !important;
  font-weight: 400 !important;
}

.text4-regular {
  font-size: 9px !important;
  font-weight: 400 !important;
}

// light

.h1-light {
  font-size: 36px !important;
  font-weight: 300 !important;
}

.h2-light {
  font-size: 30px !important;
  font-weight: 300 !important;
}

.h3-light {
  font-size: 24px !important;
  font-weight: 300 !important;
}

.h4-light {
  font-size: 20px !important;
  font-weight: 300 !important;
}

.h5-light {
  font-size: 18px !important;
  font-weight: 300 !important;
}

.h6-light {
  font-size: 16px !important;
  font-weight: 300 !important;
}

.text1-light {
  font-size: 14px !important;
  font-weight: 300 !important;
}

.text2-light {
  font-size: 12px !important;
  font-weight: 300 !important;
}

.text3-light {
  font-size: 10px !important;
  font-weight: 300 !important;
}

.text4-light {
  font-size: 9px !important;
  font-weight: 300 !important;
}

// overriding the styles of the star rating
.rating {
  max-height: 16px;
  margin-left: -5px !important;
  justify-content: inherit !important;
  cursor: pointer;

  padding: 0 !important;
}
.rating.color-negative .star-container .star svg {
  fill: #ffc045 !important;
  color: #ffc045 !important;
}
.rating.color-ok .star-container .star {
  svg {
    fill: #ffc045 !important;
  }
  i {
    color: #ffc045 !important;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #ffc045 !important;
  }
  i {
    color: #ffc045 !important;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #ffc045 !important;
  }
  i {
    color: #ffc045 !important;
  }
}
