<div class="container">
  <div class="image-container">
    <img src="../../../assets/logo.svg" alt="company logo" />
  </div>
  <form>
    <h1>Hello!</h1>
    <p>Welcome Back</p>
    <mat-form-field appearance="outline" class="form-container">
      <input matInput placeholder="Email Address" />
      <mat-icon matPrefix class="email-icon">email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-container">
      <input matInput type="password" placeholder="Password" />
      <mat-icon matPrefix class="lock-icon">lock</mat-icon>
    </mat-form-field>
    <button mat-flat-button>Login</button>
    <a href="#">Don't have an account?</a>
  </form>
</div>
