.container {
  display: flex;
  height: 100%;
}
.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 50%;
  }
  background-image: linear-gradient(
    45deg,
    hsl(209deg 100% 60%) 0%,
    hsl(234deg 98% 77%) 11%,
    hsl(270deg 80% 76%) 22%,
    hsl(307deg 71% 74%) 33%,
    hsl(328deg 100% 77%) 44%,
    hsl(343deg 100% 78%) 56%,
    hsl(3deg 100% 80%) 67%,
    hsl(19deg 100% 76%) 78%,
    hsl(31deg 100% 73%) 89%,
    hsl(40deg 100% 73%) 100%
  );
}
form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 2px;
  }
  p {
    margin-bottom: 20px;
  }
}
button {
  text-align: center;
  padding: 10px;
  background-color: rgb(42, 98, 202) !important;
  color: white !important;
  width: 60%;
  border-radius: 25px;
  margin-bottom: 10px;
}
mat-form-field {
  width: 60%;
  margin-bottom: 10px;
  border-radius: 25px !important;
}
