@import 'src/_imports.scss';

.container{
  position: relative;
  height: 100%;
  width: 100%;
  app-categories-nav-bar{
    @include media("tablet"){
  display: none;
    }}
}

.mobile-menu{

  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;

}

